*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 30px;
    background-color: rgb(138, 111, 77);
    color: rgb(245, 245, 248);
    text-align: center;
    align-items: center;
}