* {
  margin: 0;
  padding: 0;
}
.main {
  background-image: url("img/main.png");
  background-size: cover;
  height: 95vh;
}

nav {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9999999999999999) 85%,
    rgba(0, 0, 0, 0.9999999999999999) 100%
  );
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
}
nav img {
  margin-left: 50px;
}
a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-size: 17px;
  font-weight: 700;
  margin: 15px;
  font-family: "Poppins";
  /* float: right; */
  margin-right: 50px;
}
.text {
  padding-left: 140px;
  margin: 20px;
}
.text h1 {
  color: white;
  font-weight: 700;
  font-size: 85px;
}
.text p {
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Nunito";
  line-height: 35px;
}
.text button {
  border: solid 1px blue;
  border-radius: 32px;
  background-color: #f64b3c;
  color: white;
  padding: 12px 80px;
  /* margin-bottom: 95px; */
  cursor: pointer;
}
/* 1 page complate */

.main2 {
  height: 95vh;
  background-color: #f6eedf;
}

.text2 h1 {
  font-size: 64px;
  color: #f64b3c;
  font-weight: 700;
  font-family: "Archivo";
  text-align: center;
}
.text2 p {
  font-size: 25px;
  color: #f64b3c;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.imges {
  display: flex;
  justify-content: space-evenly;
}
.img img {
  border-radius: 50%;
}
.cards h1 {
  color: #f64b3c;
}
.cards p {
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: #f64b3c;
  font-weight: 600;
  font-family: "Nunito";
}
.bimg {
  position: relative;
}
.img1 {
  position: absolute;
  left: 480px;
}
.img2 {
  position: absolute;
  right: 20px;
  top: -180px;
}
.img3 {
  position: absolute;
  top: -480px;
  left: 350px;
}
.img4 {
  position: absolute;
  top: -390px;
  left: 50px;
}
.img5 {
  position: absolute;
  top: -480px;
  right: 50px;
}
.img6 {
  position: absolute;
  right: 480px;
}

/* section=2 complate */

.main3 {
  background-color: #f64b3c;
  height: 98vh;
}
.burgerimg {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  padding-top: 175px;
}
.burgerimg img {
  border-radius: 50%;
  height: 60vh;
}
.text5 h1 {
  font-size: 75px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Archivo";
}
.text5 p {
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Nunito";
}
.btn2 {
  padding: 8px 50px;
  font-size: 25px;
  text-transform: uppercase;
  color: #f64b3c;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
}
/* third page complate */

.main4 {
  background-color: #f6eedf;
  height: 100vh;
}
.text6 h1 {
  font-size: 65px;
  color: #f64b3c;
  font-weight: 700;
  font-family: "Archivo";
}
.text6 {
  font-size: 40px;
  color: #f64b3c;
  font-weight: 400;
  font-family: "Montserrat";
}
.btn3 {
  padding: 8px 35px;
  font-size: 19px;
  text-transform: uppercase;
  background-color: #f64b3c;
  color: white;
  border: none;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
}
.bug {
  border-radius: 50%;
  height: 65vh;
}
.conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  padding-top: 150px;
}

.img7 {
  position: absolute;
  right: 50px;
  top: -500px;
  height: 20vh;
}
.img8 {
  position: absolute;
  left: -10px;
  bottom: 450px;
  height: 18vh;
}
.img9 {
  position: absolute;
  bottom: 400px;
  right: 840px;
  height: 22vh;
}
.img10 {
  position: absolute;
  bottom: -80px;
  right: 25px;
}
.img11 {
  position: absolute;
  left: 750px;
  bottom: 10px;
  height: 20vh;
}
.img12 {
  position: absolute;
  left: 120px;
  top: 0px;
}
/* PAGE4 COMPLATE */

.main5 {
  background-color: #f64b3c;
  height: 95vh;
}

.txt9 h1 {
  font-size: 62px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Archivo";
  text-align: center;
}
.txt9 p {
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}

.cardcontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  text-align: center;
}

.circle {
  width: 310px;
  height: 310px;
  border-radius: 155px;
  border: 5px solid #ffffff;
  align-items: center;
}

.circle p {
  font-weight: 700;
  font-family: "Archivo";
  text-align: center;
  font-size: 90px;
  margin-top: 40px;
}
.circle .sub {
  font-size: 50px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 30px;
}
/* main5 complate */

.main6 {
  height: 100vh;
  background-color: #f6eedf;
}
.main6 h1 {
  font-size: 75px;
  color: #f64b3c;
  font-weight: 700;
  font-family: "Archivo";
  text-align: center;
}

.cardo {
  display: flex;
  color: #f64b3c;
  justify-content: space-around;
}

.box1 {
  width: 300px;
  height: 350px;
  border-radius: 8px;
  background-color: #ffffff;
}
.box1 .maint {
  font-size: 33px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Archivo";
  text-align: center;
}
.box1 img {
  margin-left: 115px;
  height: 10vh;
}
.box1 .price {
  font-size: 33px;
  color: #f64b3c;
  font-weight: 700;
  font-family: "Archivo";
  text-align: center;
}
.box1 .lor {
  font-size: 20px;
  color: #f64b3c;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}

.box1 .boxbtn {
  border: none;
  border-radius: 29px;
  background-color: #f64b3c;
  padding: 10px 70px;
  font-size: 23px;
  font-weight: 700px;
  color: white;
  font-family: "Montserrat";
  text-align: center;
  text-transform: uppercase;
  margin-left: 10px;
}

.logoes {
  position: relative;
}

.img13 {
  position: absolute;
  bottom: 300px;
  right: 0px;
}
.img14 {
  height: 20vh;
  position: absolute;
  bottom: -100px;
  right: 20px;
}
.img15 {
  position: absolute;
  left: 10px;
  bottom: 350px;
}
.img16 {
  position: absolute;
  left: 20px;
  bottom: -80px;
}
.img17 {
  position: absolute;
  bottom: 450px;
  left: 370px;
}
.img18 {
  height: 20vh;
  position: absolute;
  bottom: 450px;
  right: 300px;
}
/* main6 complate */

.main7 {
  background-image: linear-gradient(
      rgba(239, 95, 95, 0.474),
      rgba(170, 47, 47, 0.538)
    ),
    url("img/52.png");
  height: 100vh;
  background-size: cover;
}
.main7 p {
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Archivo";
  text-align: center;
}
.main7 .oreder {
  font-size: 45px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Calistoga";
  text-align: center;
}
.onida {
  padding: 230px;
}
/* main7 is */

.main8 {
  background-color: #f6eedf;
  height: 100vh;
}
.main8 h1 {
  font-size: 75px;
  color: #f64b3c;
  font-weight: 700;
  font-family: "Archivo";
  text-align: center;
}
.main8 p {
  height: 125px;
  font-size: 30px;
  color: #f64b3c;
  font-weight: 400;
  font-family: "Nunito";
  text-align: center;
}
.textcont {
  margin-top: 150px;
}
.mains {
  display: flex;
}
.mains input {
  border: none;
  height: 40px;
  width: 500px;
  border-radius: 30px;
  opacity: 0.502;
  font-size: 25px;
  color: #835e3f;
  font-weight: 400;
  font-family: "Nunito";
}
.mains button {
  border: none;
  height: 42px;
  width: 200px;
  position: absolute;
  right: 510px;
  border-radius: 30px;
  background-color: #f64b3c;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "Nunito";
  text-align: center;
}
.pp {
  margin: 0 auto;
  display: flex;
}
::placeholder {
  padding-left: 20px;
}
.main9 {
  background-color: #222222;
  height: 50vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section1 h1{
  font-size: 35px;
  font-weight: 700;
  font-family: "Archivo";
}
ul li{
  list-style: none;
}
i{
  font-size: 30px;
}
