*{
    margin: 0;
    padding: 0;
    color: white;
    
}


.main {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("img/IN-en-20240820-TRIFECTA-perspective_WEB_eeff8a6e-0384-4791-a703-31368aeac39f_small.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.logo{
    width: 200px;
    height: 100px;
    margin-left:50px;
}
.sign{
    background-color: red;
    border: solid 1px red;
    text-align: center;
    padding: 8px 30px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    float: right;
}
.container{
  text-align: center; 
  padding: 150px;
}
.container h1{
    font-size: 90px;
}
.container h4{
    font-size: 20px;
    line-height: 50px;
}
.str{
    background-color: red;
    border: solid 2px red;
    border-radius: 5px;
    padding: 15px 40px;
    font-size: 20px;
    cursor: pointer;
}



